body
{
    background-color: #000;
    color: #0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New',monospace;

}

.clock
{
    font-size: 80px;
    letter-spacing: 3px;
}
